appnope==0.1.0
asn1crypto==0.24.0
astroid==2.1.0
autopep8==1.4.3
azure-common==1.1.16
azure-nspkg==3.0.2
azure-storage==0.36.0
backcall==0.1.0
bleach==3.1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==3.2
decorator==4.3.0
defusedxml==0.5.0
dtool-azure==0.3.1
dtool-http==0.2.0
-e git+git@github.com:JIC-Image-Analysis/dtoolbioimage.git@0181b8da3fa83dcaacbe0b13f8de77803b0817fe#egg=dtoolbioimage
dtoolcore==3.8.0
entrypoints==0.2.3
idna==2.7
imageio==2.4.1
ipykernel==5.1.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.13.1
Jinja2==2.11.2
jsonschema==2.6.0
jupyter-client==6.1.6
jupyter-core==4.6.3
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
mistune==0.8.4
nbconvert==6.5.1
nbformat==4.4.0
notebook==6.1.5
numpy==1.15.4
packaging==20.4
pandocfilters==1.4.2
parse==1.9.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.5.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
Pygments==2.3.0
pylint==2.2.2
pyparsing==2.4.7
python-dateutil==2.7.5
pyzmq==17.1.2
requests==2.20.1
ruamel.yaml==0.15.88
scipy==1.2.1
Send2Trash==1.5.0
six==1.11.0
terminado==0.8.1
testpath==0.4.2
tifffile==2018.11.28
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.25.9
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.11
